.die-selector {
    cursor: pointer;
    transition: transform 0.1s, filter 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.die-selector:active {
    transform: scale(0.9);
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}

.die-selector:hover {
    filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.3)) brightness(1.1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}